{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit patient</h1>

    {{ form(formPatient) }}
    
    {{ form(delete) }}
    {% if form.delete is defined %}
      Are you sure you want to delete the patient: {{ form.vars.value.firstName }} ?
    {% endif %}
    

{% endblock %}