<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Zadanie{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <a href="{{ path('homepage') }}" class="btn">Home</a>
            {% block body %}  {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
