{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit clinic</h1>

    {{ form_start(delete) }}
    {{ form_widget(delete) }}
    {{ form_end(delete) }}

    {% for patient in clinic.patients %}
        <h3>Patient #{{ loop.index }}</h3>
        <ul>
            <li><a href="{{ path('editPatient', {'id': patient.id} ) }}">{{ patient.firstName }} {{ patient.lastName }}</a></li>
        </ul>
    {% endfor %}
    
    <h2>Add patient</h2>
    {{ form_start(formPatient) }}
    {{ form_widget(formPatient) }}
    {{ form_end(formPatient) }}

{% endblock %}