{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Clinics:</h1>
    <a href="{{ path('new') }}" class="btn">Add clinic...</a>
    {% for clinic in clinics %}
        <div class="clinic">
          <h2>{{ clinic.name }}</h2> 
            <h3>Patients: </h3>
            {% for patient in clinic.patients %}
                <ul>
                    <li>{{ patient.firstName }} {{ patient.lastName }}</li>
                </ul>
            {% endfor %}

            <a href="{{ path('edit', {'id': clinic.id}) }}" class="btn">Edit</a>
        </div>
    {% endfor %}

{% endblock %}
