body{
    margin: 0;
    color: #333;
    font-family: Tahoma;
}

h1,h2{
    border-bottom: 1px solid #bababa;
    width: 25%;
}

.wrapper{
    margin: 0 auto;
    width: 960px;
}

.clinic{
    display: block;
    width: 100%;
    border: 1px solid #dadada;
    padding: 20px;
    margin: 20px;
}

input{
    margin: 20px;
}

input[type="text"]{
    padding: 5px;
    margin: 5px;
}

a.btn{
    padding: 8px 24px;
    border: 1px solid #dadada;
    background: #fff;
    border-radius: 20px;
    margin: 16px 0;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
a.btn:hover{
    background: #f0f0f0;
    border: 1px solid #fff;
    color: #111;
}